/* 
primary color #e09d00
secondary color #8b5a1c
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.wrapper_in {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
}

/* image */
.image_pane {
    display: none;
}

.image_pane img {
    width: 400px;
}

/* login */
.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icon_name {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.icon_name img {
    width: 100px;
    margin-bottom: 10px;
}

.login_headings {
    text-align: center;
}

.title_pane {
    font-weight: bold;
    font-size: 20px;
}

.subtitle_pane {
    color: gray;
    font-size: 12px;
    padding-top: 5px;
}

.form_details {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.form_label {
    padding-bottom: 5px;
}

.password_label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot_password {
    font-size: 12px;
    color: #e09d00;
    cursor: pointer;
}

.form_details input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(205, 204, 204);
    background-color: rgb(237, 237, 237);
}

.input_error{
    padding-top: 5px;
    color: red;
    font-size: 12px;
}

.login_button {
    background-color: #e09d00 !important;
    color: white;
    border: none !important;
    cursor: pointer;
}

/* error popup */
.error_popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.405);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    visibility: hidden;
}
.error_popup_in{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.error_cancel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.error_cancel>div{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.error_cancel img{
    width: 25px;
}
.error_message{
    text-align: center;
    color: gray;
    padding: 20px 0px;
}
.error_close{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error_close>div{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #e09d00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

/* media */
@media screen and (min-width:900px) {

    /* image */
    .image_pane {
        display: block;
    }
}