.profile_title{
    font-size: 20px;
    padding-bottom: 20px;
    color: gray;
}

.profile_details_pane{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile_details_pane>div, .profile_details_pane>form{
    min-width: 250px;
}
.profile_detail_title{
    font-size: 14px;
    padding-bottom: 5px;
    color: darkgray;
}
.profile_detail_value{
    background-color: ghostwhite;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
}

.profile_detail_password{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile_detail_password input{
    display: inline-block;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}
.change_password_view{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.profile_detail_password img{
    width: 20px;
}

.change_profile_pane{
    padding-top: 30px;
}

.change_profile_pane input{
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}
.change_profile_pane button{
    width: 100px;
    height: 40px;
    background-color: #e09d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}