/* 
primary color #e09d00
secondary color #8b5a1c
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    padding: 0px 50px;
}

.error_pane{
    font-size: 12px;
    color: red;
    padding-top: 5px;
}

.top_pane {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e09d001a;
    margin-bottom: 30px;
}

.top_pane>div {
    display: flex;
    align-items: center;
}

.logo_pane {
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.logo_pane img {
    width: 40px;
}


.profile_pane {
    gap: 5px;
    position: relative;
}
.user_name, .drop_down_name{
    text-transform: capitalize;
}

.profile_pane .profile_image img {
    width: 40px;
}

.profile_pane .drop_down {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile_pane .drop_down img {
    width: 30px;
}
.rotate_class{
    rotate: 180deg;
}

.dropdown_pane {
    display: none;
    min-width: 250px;
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 0px;
    /* width: 120px; */
    border-radius: 5px;
    background-color: whitesmoke;
    overflow: hidden;
    font-size: 14px;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.14),
        0px 0px 19px 14px rgba(0, 0, 0, 0.03),
        0px 0px 26px 4px rgba(0,0,0,0.14);
}

.drop_down_optional_image{
    display: none;
}

.drop_down_profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.dropdown_pane .optional{
    display: none;
}

.drop_down_profile img {
    width: 30px;
}

.dropdown_option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.dropdown_option img {
    width: 20px;
}

.logout_option {
    background-color: #e09d00;
    color: white;
}

.profile_option:hover {
    background-color: rgb(235, 235, 235);
}


/* body pane */
.body_pane{
    min-height: 100vh;
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}

.nav_pane{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details_pane{
    width: 100%;
}




/* responsive css */
@media only screen and (max-width: 1000px){
    section {
        padding: 0px 50px;
    }

    .user_name{
        display: none;
    }    

    .drop_image{
        display: none;
    }
    .drop_down_optional_image{
        display: block;
    }

    .dropdown_pane .optional{
        display: block;
        display: flex;
        align-items: center;
    }

    .nav_pane{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    section {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 400px){
    .profile_image{
        display: none;
    }
    .logo_pane p{
        display: none;
    }
}